.side-navbar {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: auto;
    position: fixed;
    margin-left: 0px;
    width: 250px;
    background-color: rgb(93, 141, 26);
    height: 100%;
    padding-top: 40px;
}

.sidebar-music {
    display: flex;
    flex-direction: column;

}

.side-navbar a {
    text-decoration: none;
    color: aliceblue;
    font-size: 17px;
    margin: 10px;
}

.side-navbar a:hover {
    color: aqua;
}

.side-container {
    margin-top: 20px;
}